.project-info-content {
  width: 90%;

  .project-img {
    height: 375px;
    margin-bottom: 10px;
  }

  .content-box {
    .first-project {
      .first-project-content {
        display: flex;
        align-items: center;
        margin-top: 15px;
        border: 5px solid black;
        border-radius: 10px;

        .project-youtube {
          width: 500px;
          height: 250px;
          border-right: 5px solid black;
        }

        .icons {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          margin-left: 20px;

          .github-info {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .github-link {
              margin-left: 10px;
            }
          }

          img {
            width: 110px;
            height: 110px;
          }

          .velog-info {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 10px 10px 0 0;

            .velog {
              width: 110px;
              height: 110px;
              border-radius: 50%;
            }

            .velog-link {
              margin-left: 10px;
            }
          }
        }
      }
    }
    .second-project {
      margin-top: 20px;

      .second-project-content {
        display: flex;
        align-items: center;
        margin-top: 15px;
        border: 5px solid black;
        border-radius: 10px;

        .project-youtube {
          width: 500px;
          height: 250px;
          border-right: 5px solid black;
        }

        .icons {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          margin-left: 20px;

          .github-info {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .github-link {
              margin-left: 10px;
            }
          }

          img {
            width: 110px;
            height: 110px;
          }

          .velog-info {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 10px 10px 0 0;

            .velog {
              width: 110px;
              height: 110px;
              border-radius: 50%;
            }

            .velog-link {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}

.project-info-hide {
  display: none;
}
