.Introduce {
  text-align: center;
  margin-top: 20px;
  span {
    padding-top: 100px;
    font-weight: bold;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 50px;
  }
  img {
    margin-top: 20px;
  }
}
